Repository hemingto/boombox-design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: components, tokens, icons, utils, email, documentation, storybook, tests, ci/cd, accessibility, breaking-change

Setup monorepo packages and install dependencies
  nx.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/content/package.json
  packages/email/package.json
  packages/icons/package.json
  packages/tokens/package.json
  packages/utils/package.json
Labels: components, tokens, icons, utils, email, ci/cd

test: trigger chromatic workflow
  packages/components/src/primitives/Button/Button.tsx
Labels: components

test: trigger chromatic workflow
  packages/components/src/primitives/Button/Button.tsx
Labels: components

fix: add proper permissions to GitHub Actions workflows
  .github/SETUP.md
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
Labels: documentation, ci/cd

fix: add proper permissions to GitHub Actions workflows
  .github/SETUP.md
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
Labels: documentation, ci/cd

fix: simplify build scripts to resolve workflow failures
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  build-storybook.log
  chromatic.log
  package.json
  packages/components/src/primitives/Button/Button.tsx
Labels: components, storybook, ci/cd

fix: simplify build scripts to resolve workflow failures
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  build-storybook.log
  chromatic.log
  node_modules/.cache/nx/file-map.json
  node_modules/.cache/nx/project-graph.json
  node_modules/.cache/nx/run.json
  node_modules/.cache/nx/terminalOutputs/3169415391161468444
  node_modules/.cache/nx/terminalOutputs/4932666325737132018
  node_modules/.cache/nx/terminalOutputs/5321815879546039919
  node_modules/.cache/nx/terminalOutputs/5482223316474956875
  node_modules/.cache/nx/terminalOutputs/6843892445169309365
  node_modules/.cache/nx/terminalOutputs/9254142719814160110
  package.json
  packages/components/src/primitives/Button/Button.tsx
Labels: components, storybook, ci/cd

Clean up setup and finalize design system
  .github/SETUP.md
  packages/components/src/primitives/Button/variants.ts
Labels: components, documentation, ci/cd

Add .gitignore and remove node_modules from tracking
  .gitignore
  build-storybook.log
  chromatic.log
Labels: none

Fix GitHub Actions CI issues
  .github/pull_request_template.md
  .storybook/styles.css
  ISSUE_TEMPLATE/README.md
  ISSUE_TEMPLATE/bug-report.md
  ISSUE_TEMPLATE/component-request.md
  ISSUE_TEMPLATE/enhancement.md
  apps/documentation/.eslintrc.json
  apps/documentation/app/layout.tsx
  apps/documentation/app/page.tsx
  apps/documentation/next-env.d.ts
  apps/documentation/next.config.js
  apps/documentation/tsconfig.json
  apps/playground/.eslintrc.json
  apps/playground/app/layout.tsx
  apps/playground/app/page.tsx
  apps/playground/next-env.d.ts
  apps/playground/next.config.js
  apps/playground/tsconfig.json
  packages/components/src/primitives/Button/Button.tsx
  packages/tokens/src/base/breakpoints.ts
  packages/tokens/src/base/spacing.ts
  packages/tokens/src/index.ts
  packages/tokens/src/semantic/theme-dark.ts
  packages/tokens/src/semantic/theme-light.ts
  packages/tokens/tsconfig.json
  tsconfig.json
Labels: components, tokens, documentation, ci/cd

Fix deprecated GitHub Actions versions
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/storybook-deploy.yml
Labels: ci/cd

testing-config
  .cursorrules
  README.md
  TESTING.md
  apps/documentation/README.md
  apps/documentation/app/guides/testing/page.tsx
  docs/testing-guide.md
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  packages/components/src/primitives/Button/Button.test.tsx
  packages/components/src/primitives/Button/Button.tsx
  packages/components/src/utils/cn.ts
  packages/components/src/utils/test-utils.tsx
  packages/tokens/build/figma-tokens.json
Labels: components, tokens, documentation, tests, ci/cd

testing-config
  apps/documentation/app/guides/testing/page.tsx
  packages/components/src/primitives/Button/Button.test.tsx
  packages/components/tsconfig.json
  pull_request_template.md
Labels: components, documentation, tests, ci/cd

testing-config
  packages/components/src/primitives/Button/Button.stories.tsx
  packages/components/src/primitives/Button/Button.test.tsx
  packages/components/src/types/jest-axe.d.ts
Labels: components, storybook, tests

base files completed
  .cursorrules
  .git-rewrite/commit
  .git-rewrite/heads
  .git-rewrite/index.lock
  .git-rewrite/map/23c3937a58b0e63e84baceda37e144882259f95c
  .git-rewrite/map/305722ab3ccb8dafd093f08bee3b12f39e87cb50
  .git-rewrite/map/89ee7c11596b4a71afbca0effe3c8cfb380c32df
  .git-rewrite/map/9bc676f366ee705c2ec0d26b072119be468a6fc4
  .git-rewrite/map/9da80164b3a5bd266cf32a514c2e112aa5eeac25
  .git-rewrite/map/a98e452a397c9ad1c621d0c1d1b0bf170ce50341
  .git-rewrite/map/c4d54e04fddd5318d091c35c91d48b2038650339
  .git-rewrite/revs
  apps/documentation/app/components/primitives/button.mdx
  apps/documentation/app/guides/testing/page.tsx
  apps/documentation/app/guides/testing/unit-testing.mdx
  apps/documentation/content/components/PropsTable.tsx
  apps/documentation/mdx-components.tsx
  apps/documentation/next.config.js
  apps/documentation/package.json
  docs/testing-guide.md
  filestructure.md
  gemini.md
  package-lock.json
  packages/tokens/src/base/borders.ts
  packages/tokens/src/base/breakpoints.ts
  packages/tokens/src/base/colors.ts
  packages/tokens/src/base/shadows.ts
  packages/tokens/src/base/spacing.ts
  packages/tokens/src/base/typography.ts
  packages/tokens/src/base/z-index.ts
Labels: tokens, documentation

.github/labeler.yml:

# Automatically label PRs based on file changes

components:
  - packages/components/**/*

tokens:
  - packages/tokens/**/*

icons:
  - packages/icons/**/*

utils:
  - packages/utils/**/*

email:
  - packages/email/**/*

documentation:
  - "**/*.md"
  - apps/documentation/**/*

storybook:
  - apps/storybook/**/*
  - "**/*.stories.*"

tests:
  - "**/*.test.*"
  - "**/__tests__/**/*"
  - "**/tests/**/*"

ci/cd:
  - .github/**/*
  - "**/.eslintrc.*"
  - "**/jest.config.*"
  - "**/tsconfig.json"
  - package.json
  - lerna.json

accessibility:
  - "**/*a11y*"
  - "**/*accessibility*"

breaking-change:
  - packages/*/BREAKING_CHANGES.md
